WORLD_APP_ID=app_staging_xxxxxxxxxxxxxxxxxxxxxxxx
WORLD_RP_ID=rp_xxxxxxxxxxxxxxxxxxxxxxxx
RP_SIGNING_KEY=0xdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef
WORLD_STAGING_TOKEN=sk_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
WORLD_ENVIRONMENT=staging
NEXT_PUBLIC_WORLD_APP_ID=app_staging_xxxxxxxxxxxxxxxxxxxxxxxx
NEXT_PUBLIC_WORLD_ENVIRONMENT=staging
